* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

header {
    text-align: center;
    background-color: #3498DB;
    color: white;
    padding: 5%;
    /* animation: 1.5s ease 0s 1 slideInFromLeft; */
}

.nav ul {
    display: flex;
    justify-content: center;
}

.nav li {
    list-style-type: none;
    padding: 10px;
}

.nav li:hover {
    background-color: white;
}

.nav li:hover a {
    color: #3498DB;
}

.nav a {
    text-decoration: none;
    color: white;
}

.blocks {
    display: flex;
    justify-content: center;
}

.block {
    max-width: 80px;
    position: relative;
}

h1 {
    margin: 2%;
    /* animation: 1.5s ease 0s 1 slideInFromLeft; */
}

h2 {
    margin: 2%;
    /* animation: 1.5s ease 0s 1 slideInFromRight; */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1%;
}

.container {
    margin: 25px 0;
}

/* .slide-from-left {
    animation: 1.5s ease 0s 1 slideInFromLeft;
}

.slide-from-right {
    animation: 1.5s ease 0s 1 slideInFromRight;
} */

.slide-from-bottom {
    animation: slideInFromBottom .5s ease-out 1s 1;
}

.bounce {
    animation: bounce .75s linear 1.5s 1;
}

.jump {
    animation: jump 1s linear 1s 1;
}

.container h3 {
    text-align: center;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 40%;
    /* border: 2px solid purple; */
    margin: 15px;
}

.mario-container {
    display: flex;
    justify-content: center;
}

.mario-box {
    max-width: 80px;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    border-left: 2px solid #008CBA;
    border-right: 2px solid #008CBA;
    border-bottom: 2px solid #008CBA;
}

/* button {
    position: relative;
    animation: 4s ease 0s 1 moveAndShake;
    color: blue;
} */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0%;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(+100%);
        opacity: 0%;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(+100%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes bounce {
    0% {
        top: 0;
    }
    50% {
        top: -30px;
    }
    100% {
        top: 0;
    }
}

@keyframes jump {
    0% {
        transform: translateY(+100%);
        opacity: 0%;
    }
    50% {
        transform: translateY(-5%);
        opacity: 100%;
    }
    100% {
        transform: translateY(+100%);
        opacity: 0%;
    }
}

/* @keyframes moveAndShake {
    0% {color: blue; top: 0; left: 0;}
    25% {color: green; top: 0; left: 200px}
    50% {color: red; top: 200px; left: 200px}
    75% {color: yellow; top: 200px; left: 0;}
    100% {color: purple; top: 0; left: 0;}
} */

.flip-box {
    background-color: transparent;
    /* width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1; */
    perspective: 1000px;
  }

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-back {
    background-color: dodgerblue;
    color: black;
    transform: rotateY(180deg);
}

.box {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 1s ease;
}

.box:hover .overlay {
    height: 100%;
  }

.text {
    text-align: center;
    /* white-space: nowrap;  */
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}