:root {
    --blue: #3498DB;
    --dark-blue: #16405C;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0;
}

h1 {
    margin: 20px 0;
}

h2 {
    margin: 20px 0;
}

p {
    margin: 10px;
    font-size: larger;
}

img {
    max-width: 100%;
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* margin: 0 5%; */
}

header {
    text-align: center;
    background-color: var(--dark-blue);
    color: white;
    padding: 50px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mode {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.large {
    font-size: 3rem;
}

.medium {
    font-size: 2rem;
}

.large:hover {
    cursor: pointer;
}

.light-mode {
    background-color: white;
    color: #212529;
}

.dark-mode {
    background-color: #202124;
    color: white;
}

/* Nav */

.nav {
    display: flex;
    justify-content: center;
}

.nav a {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10PX;
    text-decoration: none;
    color: var(--dark-blue);
    font-size: larger;
}

/* Animation */

.blocks {
    display: flex;
    justify-content: center;
}

.block {
    max-width: 80px;
    position: relative;
}

.mario-container {
    display: flex;
    justify-content: center;
}

.mario-box {
    width: 80px;
}

.transparent {
    opacity: 0;
}

.jump {
    transform: translateY(175%);
}

body.loaded .jump {
    animation-name: jump;
    animation-duration: .8s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

body.loaded .bounce {
    animation-name: bounce;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

body.loaded .slide-from-bottom {
    animation-name: slideInFromBottom;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    animation-direction: forwards;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(175%);
    }
    50% {
        transform: translateY(-20%);
    }
}

@keyframes bounce {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -45px;
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* About Me */

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    /* padding: 10px; */
    /* line-height: 5; */
}

.intro {
    margin-top: 30px;
}

.headshot-box {
    max-width: 300px;
}

.headshot {
    border: 10px solid var(--dark-blue);
    border-radius: 50%;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.up {
    animation-name: up;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

.bob1 {
    animation-name: bob;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

.bob2 {
    animation-name: bob;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-delay: .15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

.bob3 {
    animation-name: bob;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-delay: .30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

.bob4 {
    animation-name: bob;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-delay: .45s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

@keyframes bob {
    from {
        top: -2.5px;
    }
    to {
        top: 2.5px;
    }
}

@keyframes up {
    from {
        top: -2.5px;
    }
    to {
        top: 2.5px;
    }
}

.down {
    animation-name: down;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

@keyframes down {
    from {
        top: 2.5px;
    }
    to {
        top: -2.5px;
    }
}

.container {
    margin: 25px 0;
}

#about-me {
    /* color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; */
    padding: 100px 0;
}

.speech-bubble {
	position: relative;
	background: var(--dark-blue);
	border-radius: 2.5em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	left: 40%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: var(--dark-blue);
	border-top: 0;
	margin-left: -10px;
	margin-top: -20px;
}

/* Text Bubble */

.texting {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #273746;
    padding: 10px 25px;
    width: 95%;
    margin: 0 auto;
}

.texting div {
    margin: 5px 0;
}

.text-box-right {
    display: flex;
    justify-content: flex-end;
}

.text-box-left {
    display: flex;
    justify-content: flex-start;
}

.text-box-right div {
    max-width: 80%;
}

.text-box-left div {
    max-width: 80%;
}

.text-bubble-left {
    position: relative;
	background: #566573;
	border-radius: .4em;
    padding: 10px;
    /* margin: 5px 20% 5px 0; */
}

.text-bubble-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 80%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #566573;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.text-bubble-right {
	position: relative;
	background: var(--blue);
	border-radius: .4em;
    padding: 10px;
    max-width: 80%;
    /* margin: 5px 0 5px 20%; */
}

.text-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 80%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: var(--blue);
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

/* Projects */

.fade-in {
    color: black;
}

.fade {
    /* margin: 50px;
    padding: 50px;
    background-color: lightgreen; */
    opacity: 1;
    transform: translateY(0);
    /* display: none; */
}

#my-work {
    padding: 100px 0 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-of-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    max-width: 90%;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

.project:hover {
    cursor: pointer;
}

.dark-mode-shadow {
    box-shadow: none;
}

.project-name {
    padding: 10px;
    background-color: var(--dark-blue);
    color: white;
    border-radius: 10px 10px 0 0;
}

.image-label {
    background-color: var(--dark-blue);
    opacity: .9;
    color: white;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    padding: 5px;
    margin: 0 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
    width: 45%;
    font-size: x-large;
}

.button a {
    color: var(--dark-blue);
    display: block;
}

.top-of-phone {
    background-color: #17202A;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    width: 95%;
    margin: 0 auto;
}

.bottom-of-phone {
    background-color: #17202A;
    width: 95%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
}

.bottom-icons {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.text-box {
    border: 1px solid gray;
    color: gray;
    border-radius: 30px;
    padding: 10px;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.text-box p {
    margin: 0;
    font-size: larger;
    display: flex;
    align-items: center;
}

.icon-gray {
    color: gray;
}

.phone-pic-box {
    max-width: 50px;
}

.phone-pic {
    border-radius: 50%;
    max-width: 50px;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-icons {
    display: flex;
    justify-content: space-between;
}

#contact-info {
    background-color: var(--dark-blue);
    padding: 100px 0;
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-info h2 {
    margin-bottom: 100px;
}

.contact-links a {
    color: var(--dark-blue);
    text-decoration: none;
    font-size: larger;
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.link {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}

.link:hover {
    background-color: var(--blue);
    color: white;
}

.hidden {
    display: none;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

@keyframes bounce {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -45px;
    }
}

@media only screen and (min-width: 768px) {
    .list-of-projects {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    /* .project {
        max-width: 45%;
        margin: 10px 0;
        border-radius: 10px;
    } */

    .texting {
        width: 50%;
        margin: 0 auto;
    }

    .top-of-phone, .bottom-of-phone {
        width: 50%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 992px) {
    .project {
        max-width: 45%;
        border-radius: 10px;
    }
}