:root {
    --blue: #3498DB;
    --dark-blue: #16405C;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    margin: 20px 0;
}

h2 {
    margin: 20px 0;
}

p {
    margin: 10px 0;
    font-size: larger;
}

img {
    max-width: 100%;
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
}

header {
    text-align: center;
    background-color: var(--blue);
    color: white;
    padding: 50px 1%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Nav */

.nav ul {
    display: flex;
    justify-content: center;
}

.nav li {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10PX;
}

.nav li:hover {
    background-color: white;
}

.nav li:hover a {
    color: #3498DB;
}

.nav a {
    text-decoration: none;
    color: white;
}

/* Animation */

.blocks {
    display: flex;
    justify-content: center;
}

.block {
    max-width: 80px;
    position: relative;
}

.mario-container {
    display: flex;
    justify-content: center;
}

.mario-box {
    width: 80px;
}

.transparent {
    opacity: 0;
}

.jump {
    transform: translateY(175%);
}

body.loaded .jump {
    animation-name: jump;
    animation-duration: .8s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

body.loaded .bounce {
    animation-name: bounce;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

body.loaded .slide-from-bottom {
    animation-name: slideInFromBottom;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    animation-direction: forwards;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(175%);
    }
    50% {
        transform: translateY(-20%);
    }
}

@keyframes bounce {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -45px;
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* About Me */

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    /* padding: 10px; */
    /* line-height: 5; */
}

.intro {
    margin-top: 30px;
}

.headshot-box {
    max-width: 300px;
}

.headshot {
    border: 10px solid var(--dark-blue);
    border-radius: 50%;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.up {
    animation-name: up;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

@keyframes up {
    from {
        top: -2.5px;
    }
    to {
        top: 2.5px;
    }
}

.down {
    animation-name: down;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

@keyframes down {
    from {
        top: 2.5px;
    }
    to {
        top: -2.5px;
    }
}

.container {
    margin: 25px 0;
}

#about-me {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.speech-bubble {
	position: relative;
	background: var(--dark-blue);
	border-radius: 2.5em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	left: 40%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: var(--dark-blue);
	border-top: 0;
	margin-left: -10px;
	margin-top: -20px;
}

/* Projects */

.projects-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    margin: 10px 0;
}

.footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    border-left: 2px solid var(--blue);
    border-right: 2px solid var(--blue);
    border-bottom: 2px solid var(--blue);
}

.flip-box {
    background-color: transparent;
    perspective: 1000px;
  }

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-back {
    background-color: var(--blue);
    color: black;
    transform: rotateY(180deg);
}

.box {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--blue);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .25s ease-out;
}

.box:hover .overlay {
    height: 100%;
  }

.text {
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}